body {
    margin: 0px;
    width: auto;
}

/* First Box */
.header {
    background-color: #1F2937;
    height: 550px;
}

.taskbar {
    height: 100px;
    flex: auto;
    display: flex;
}

.title {
    flex: auto;
    color: white;
    display: flex;
    padding-left: 250px;
    align-items: center;
    margin: 0px;
    font-size: 24px;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    display: flex;
    gap: 30px;
    flex: auto;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
}

.taskbar a:visited {
    color: white;
}

.content {
    display: flex;
    height: 250px;
    flex: auto;
    margin-top: 100px;
    margin-bottom: 0px;
}

.description {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
}

.description h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex: auto;
    width: 400px;
    margin: 0px;
}

.description p {
    font-size: 18px;
    color: #E5E7EB;
    flex: auto;
    width: 500px;
}

.description button {
    background: #3882F6;
    color: white;
    flex: auto;
    font-size: 22px;
    width: 130px;
    border-radius: 7px;
    border-color: #3882F6;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 5px
}

.description button:hover {
    background-color: white; /* Green */
    color: #3882F6;
  }

.image {
    flex: auto;
    margin-left: 50px;
}

.image img {
    max-width: 550px;
    max-height: 250px;
    width: 550px;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex: auto;
    border-radius: 5px;
}

/* Second Box */

.information {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
}

.infoTitle {
    color: #1F2937;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.allInfo {
    display: flex;
    flex: auto;
    width: 1300px;
    gap: 100px;
    align-items: center;
}

.info {
    width: 250px;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex: auto;
    flex-direction: column;
}

.info img {
    max-width: 250px;
    max-height: 150px;
    width: 250px;
    height: 150px;
    flex: auto;
    border-radius: 8px;
}

.info p {
    text-align: center;
}

/* Third Box */

.quote {
    background: #E5E7EB;
    display: flex;
    height: 450px;
    flex-direction: column;
    align-items: center;
}
.quote h2 {
    font-size: 36px;
    flex: auto;
    font-style: italic;
    margin-top: 125px;
    width: 900px;
    height: 125px;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    color: #3a414b;
}

.quote h3 {
    font-size: 30px;
    flex: auto;
    font-style: italic;
    text-align: right;
    width: 900px;
    margin-top: 0px;
}

.contact {
    background: white;
    display: flex;
    height: 400px;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    height: 175px;
    width: 1200px;
    background: #3882F6;
    border-radius: 8px;
    flex: auto;
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    color: white;
    padding-right: 300px;
}

.text h3 {
    margin: 0px;
}

.text h2 {
    margin: 0px;
}

.boxButton button {
    background: #3882F6;
    color: white;
    flex: auto;
    font-size: 22px;
    width: 130px;
    border-radius: 7px;
    border: 2px solid white;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 5px;
    text-align: center;
}

.boxButton button:hover {
    background-color: white; /* Green */
    color: #3882F6;
  }

.footer {
    height: 150px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h2 {
    color: white;
}

